body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 100%;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
}

header h1 {
    color: #005792;
    margin: 0 auto;
}

.planet-logo {
    width: 12rem;
    height: auto;
    margin-left: 20px;
}

.search-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
}

#filter {
    margin-right: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    font-size: 16px;
    background-color: #fff;
    color: #333;
}

input[type="search"] {
    height: 40px;
    padding: 0 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 300px;
}

.favorite-button, .clear-button, .sidebar-button {
    margin-left: 10px;
    background-color: #eee;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    width: 40px;
    height: 40px;
    font-size: 20px;
}

#favoritesContainer {
    position: fixed;
    right: 0;
    top: 0;
    width: 250px;
    height: 100%;
    background-color: #f0f2f5;
    border-left: 1px solid #ccc;
    padding: 20px;
    overflow-y: auto;
    transition: transform 0.3s ease-in-out;
    transform: translateX(100%);
}

#favoritesContainer.open {
    transform: translateX(0);
}

.content {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.results {
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 80%;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.country-flag{
    width: 30rem;
    height: auto;
}


.filter-select {
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    font-size: 16px;
    background-color: #fff;
    color: #333;
}

.filter-select:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.results {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

.result-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: box-shadow 0.3s ease-in-out;
}

.result-item:hover {
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    cursor: pointer;
}

.result-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 20px;
}

.result-item h2 {
    margin: 0;
    padding: 0;
    color: #333;
    font-size: 24px;
}

.result-item p {
    margin: 0;
    padding: 0;
    color: #666;
    font-size: 16px;
}
